* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}


.sl-wrapper.simple-lightbox {
    background-color: #2E2F42CC;
    ;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
}

.gallery>li {
    flex-basis: calc(100% - 48px) / 3;
    max-width: 360px;
}

.gallery>li:hover {
    transform: scale(0.8);
    transition: 2000ms ease;
}

.form {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.form:nth-child(1) {
    gap: 8px;
}

.form-input {
    padding: 8px;
    border: 1px solid #161616;
}

.btn {
    border: none;
    padding: 8px 16px;
    background-color: #9586b8;
    border-radius: 8px;
    color: #fff;
}

.loader {
    top: 30px;
    display: flex;
    position: relative;
    height: 8px;
    width: 99.5%;
    border: 1px solid #808080;
    border-radius: 10px;
    overflow: hidden;
}

.loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #b792da;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

.card {
    border: 1px solid #808080;
}

.card-description-wrapper {
    display: flex;
    padding: 4px 25px 4px 15px;
    gap: 35px;
    text-align: center;
}

.card-description-title {
    color: #2E2F42;
    font-weight: 600;

}

img.image {
    width: 360px;
    height: 152px;
    background-position: center center;
}